*{
	box-sizing: border-box;
}

#container
{
	margin: 0 30px;
	background: #fff;
}

header
{
	background: #ccc;
	padding: 20px;
}

header h1 { 
	margin: 0; 
}

nav
{
	float: left;
	width: 100%;
	background: #333;
}

nav ul
{
	margin: 0;
	padding: 0;
}

nav ul li
{
	list-style: none;
	display: inline;
}

nav li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav li a:hover { 
	background: #383; 
}

#content
{
	/*clear: left;*/
	padding: 0px;
}

/* niepotrzebne
#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}*/

footer
{
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}
	
/*moje*/

main{
	padding: 0;
	margin: 0 0 0 -4px;
	display: inline-block;
	width: 70%;
	height: 880px;
	background-color: gray;
	position: relative;
	vertical-align: top;
}

aside{
	padding: 0;
	display: inline-block;
	width: 30%;
	background-color: green;
	height: 880px;
	vertical-align: top;
}

.small-container{
	margin: 5px 10px;
	background-color: gray;
	padding: 5px 0;
}

label{
	display: block;
	margin: 0 5px;
}

#quantity {
	display: inline-block;
	width: 115px;
	padding: 0 0 0 5px;
}

#quantity-JS {
	display: inline-block;
}

#slider {
	display: block;
	width: 80%;
	margin: 5px 5px 0;
}

#start{
	display: inline-block;
	margin: 0 0 0 5px;
}

#next{
	display: inline-block;
}

#result {
	/* naprawic
	opacity: 0.3;*/
	border:2px solid black;
	height: 40px;
	width: 95%;
	margin: 0 5px;
}

#result #label{
	display: inline-block;
	width: 17%;
}

#result-before, #result-after{
	display: inline-block;
	width: 75%;
}

#container-string{
	position: relative;
}

#string{
	display: inline-block;
	height: 47px;
	width: 52%;
	margin: 0 5px;
	resize: none;
}

#buttons{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.elementButton{
	display: inline-block;
	width: 80%;
}

#actions {
	border: 2px solid black;
	height: 250px;
	width: 80%;
	margin: 0 5px;
	resize: none;
}

.elements {
	margin: 0 0 20px 350px;
	height: 40px;
	width: 40px;
	border: 2px solid #000;
	background-color: #cb3e3e;
	text-align: center;
	padding-top: 1%;
	border-radius: 50%;
	position: absolute;
	display: inline-block;
}

/*koniec*/

/*testowe*/
.test{
	/*font-size: 15px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;*/
}

.testtest{
	display: flex;
}

#te1{
	top: 0px;
	order: 4;
}

#te2{
	top: 0px;
	order: 2;
}

#te3{
	top: 0px;
	order: 3;
}

/*testowe_koniec*/

	
	#iloscElementow {
	    height: 40px;
	    width: 600px;
	}
	#info {
        position: absolute;
        top: 20px;
        left: 750px;
	}
	
	
	
	#pole {
	    border: 2px solid black;
	    top: 120px;
	    left: 400px;
	    position: absolute;
	    width: 400px;
	    height: 641px;
	}
    #operacje {
	    border:2px solid black;
	    height: 40px;
	    width: 192px;
	    left: 2px;
	    top: -2px;
	    position: relative;
        float: left;
	}
	#koniec {
	    border:2px solid black;
	    height: 40px;
	    width: 200px;
	    left: -2px;
	    top: -2px;
	    position: relative;
        float: left;
	}
	
	#koniec3 {
	    border-radius: 8%;
	    border: 2px solid black;
	    height: 500px;
	    width: 250px;
	    top: 300px;
	    position: absolute;
	}
	
	#ramka {
	    border-radius: 20%;
	    border: 3px solid black;
	    height: 66px;
	    width: 31px;
	    left: 106px;
	    top: 106px;
	    position: absolute;
	}
    #ramka2 {
	    border-radius: 20%;
	    border: 3px solid black;
	    height: 31px;
	    width: 105px;
	    left: 125px;
	    top: 71px;
	    position: absolute;
	}
    #ramkaBin {
	    border: 2px solid red;
	    height: 66px;
	    width: 7px;
	    left: 139px;
	    top: 106px;
	    position: absolute;
	}
	#min {
	    border-radius: 20%;
	    border: 3px solid green;
	    height: 31px;
	    width: 31px;
	    left: 196px;
	    top: 106px;
	    position: absolute;
	}
	#szukmin {
	    border-radius: 20%;
	    border: 3px solid blue;
	    height: 31px;
	    width: 31px;
	    left: 196px;
	    top: 106px;
	    position: absolute;
	}
    #piwot {
	    border-radius: 20%;
	    border: 3px solid red;
	    height: 31px;
	    width: 31px;
	    left: 196px;
	    top: 106px;
	    position: absolute;
	}
    #licznik1 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 110px;
	    position: absolute;
	}
    #licznik2 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 145px;
	    position: absolute;
	}
    #licznik3 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 180px;
	    position: absolute;
	}
    #licznik4 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 215px;
	    position: absolute;
	}
    #licznik5 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 250px;
	    position: absolute;
	}
    #licznik6 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 285px;
	    position: absolute;
	}
    #licznik7 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 320px;
	    position: absolute;
	}
    #licznik8 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 355px;
	    position: absolute;
	}
    #licznik9 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 390px;
	    position: absolute;
	}
    #licznik10 {
	    border-radius: 20%;
	    border: 2px solid black;
	    height: 25px;
	    width: 25px;
	    left: 75px;
	    top: 425px;
	    position: absolute;
	}
	#div1 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:110px;
	}
	#div1liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div2 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:145px;
	}
	#div2liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div3 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:180px;
	}
	#div3liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div4 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:215px;
	}
	#div4liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div5 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:250px;
	}
	#div5liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div6 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:285px;
	}
	#div6liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div7 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:320px;
	}
	#div7liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div8 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:355px;
	}
	#div8liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div9 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:390px;
	}
	#div9liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div10 {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:200px;
	    top:425px;
	}
	#div10liczba {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#divBin1 {
	    padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:110px;
	}
    #divBin2 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:145px;
	}
    #divBin3 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:180px;
	}
    #divBin4 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:215px;
	}
    #divBin5 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:250px;
	}
    #divBin6 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:285px;
	}
    #divBin7 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:320px;
	}
    #divBin8 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:355px;
	}
    #divBin9 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:390px;
	}
    #divBin10 {
        padding: 0px 5px 0px 5px;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:35px;
	    position:absolute;
	    left:200px;
	    top:425px;
	}
    #div1kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:120px;
	    top:150px;
	}
	#div1liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div2kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:70px;
	    top:200px;
	}
	#div2liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div3kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:170px;
	    top:200px;
	}
	#div3liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div4kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:30px;
	    top:250px;
	}
	#div4liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div5kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:110px;
	    top:250px;
	}
	#div5liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div6kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:150px;
	    top:250px;
	}
	#div6liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div7kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:190px;
	    top:250px;
	}
	#div7liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div8kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:10px;
	    top:300px;
	}
	#div8liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div9kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:50px;
	    top:300px;
	}
	#div9liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}
	#div10kop {
	    border-radius: 50%;
	    border:2px solid black;
	    background:#98bf21;
	    height:25px;
	    width:25px;
	    position:absolute;
	    left:90px;
	    top:300px;
	}
	#div10liczbakop {
	    left:7px;
	    top:2px;
	    position: absolute;
	}

    #porownajkop1 {
        border-radius: 50%;
	    border:3px solid red;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }

    #porownajkop2 {
        border-radius: 50%;
	    border:3px solid red;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop1 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop2 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop3 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop4 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop5 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop6 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop7 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop8 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    #usunietykop10 {
        border-radius: 50%;
	    border:3px solid green;
	    height:35px;
	    width:35px;
	    position:absolute;
	    left:84px;
	    top:294px;
    }
    .sort {
	    border-radius: 20%;
	    border: 3px solid green;
	    height: 31px;
	    width: 31px;
	    left: 196px;
	    top: 71px;
	    position: absolute;
	}